#name {
  color: aliceblue; 
  font-size: 30px;
}

  body{
  padding-top: 50px;
}
.head-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  
}

h3{
  text-align: center;
  margin-top: 0px;
}

.contactlink{
  color: green;
}

.head-text p {
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

hr {
  max-width: 25%;
  border: 2px solid; 
}

.white-box{
  background-color: rgba(255,255,255, 0.6);
  width: 100%;
  
}

header {  
  height: 100vh;
  width: 100vw;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  margin-left: -15px ;
  margin-right: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.width-50{
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.input-size-md{
  height: 100px;
  font-size: 2em;
}

.btn-size-sm{
  font-size: 1em;
  height: 50px;
}

.mar-bot-15{
  margin-bottom: 25px;
}

.spacer-top{
  margin-top: 70px;
}

.spacer-bot{
  margin-bottom: 70px;
}

.inner-pad{
  padding: 15px 0 15px 0;
}

.pad-right{
  padding-right: -15px !important;
}

#contact{
  background-color: lightblue;
  
}

.social-media{
  list-style-type: none; 
  display: inline; 
  font-size: 3em;
  margin: 0 auto;
}

ul{
  margin-right: 30px;
}

.image{
  height: 80%;
  width: 80%;
}

/*Card css*/

.card {
  align-content: center;
  display: inline-block;
  position: center;
  width: 400px;
  height: 400px;
  opacity: 0.85;
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: rgb(120,120,120);
  border: 3px solid #3C3C3C; 
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  /*padding for placement of actual portfolio sites. remove once portfolio sites go in. purpose is just for spacing*/
  padding-top: 20%; 
  padding-bottom: 20%;
}
.front {
  transform: rotateY(0deg);
  background-color: #337ab7;
  border: 3px solid #3C3C3C; 
  text-align: center;
  padding: 30px;
}
.back {
  background-color: lightblue;
  border: 3px solid #3C3C3C; 
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 40px 15px;
}
.card:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.front .contact {
  height: 120px;
  width: 120px;
  border: 5px solid #B2DBBF;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
.front .name {
  display: inline-block;
  font-size: 25px;
  color: #fff;
}
.front .job {
  color: #fff;
}
.front hr {
  border: none;
  color: #B2DBBF;
  border: 1px solid;
} 

@media screen and (max-width: 800px) { /* The width is 100%, when the viewport is 800px or smaller */
  .front, .back {
    margin-left: 0;
    width: 80vw;
    height: 80vw;
  }

  nav{
    width: 100vw;
  }

  .col-md-4, .col-md-8 {
    text-align: center
  }

  .card {
    width: 80vw;
    height: 80vw; }

  .image {
    height: 70%;
    width: 70%;
  }
  
  .small-text {
    font-size: 4vw;
  }

  h3 {
    font-size: 4.5vw;
  }
}